

//  =======================  //
//  Mixins
//  =======================  //

/*
 * Sizing : Width, Height
 */

@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

/*
 * Clean : Remove margins and paddings
 */

@mixin clean() {
	margin: 0;
	padding: 0;
}

/*
 * clear : Clears child floats
 */

@mixin clear() {
	&:before,
	&:after {
	  content: " ";
	  display: table;
	}

	&:after {
	  clear: both;
	}
}

/*
 * Fluid grid : x/12 grid column
 */

@mixin column($column, $gutter: 30px) {
	width: 100% / 12 * $column;
	padding-left: ($gutter / 2);
	padding-right: ($gutter / 2);
	float: left;
}

/*
 * Baseline shift : shift baseline within given 1/2 baseline grid
 */

@mixin baseline-shift($shift, $baseline) {
	padding-top: $shift;
	padding-bottom: $baseline / 2 - $shift;
}

/*
 * Set type : uses sass map with family, weight, size, height,
 * spacing, caps and shift and baseline
 */

@mixin set-type($element, $baseline) {
	@if (map-get($element, family)) {
		font-family: map-get($element, family);
	}
	@if (map-get($element, weight) != 400) {
		font-weight: map-get($h4, weight);
	}
	@if (map-get($element, spacing) != 0) {
		letter-spacing: map-get($h4, spacing);
	}
	@if (map-get($element, caps)) {
		text-transform: uppercase;
	}
	@if (map-get($element, shift) != 0) {
		@include baseline-shift(map-get($element, shift), $baseline);
	}
	font-size: map-get($element, size);
	line-height: map-get($element, height);
}
