
//  =======================  //
//  Typography
//  =======================  //

/*
* Headings 1-4
*/

h1 {
	@if $h1-weight != normal and $h1-weight != 400 {
		font-weight: $h1-weight;
	}
	@if ($h1-type != $body-type) { font-family: $h1-type; }
	@if ($h1-spacing != 0) { letter-spacing: $h1-spacing; }
	@if ($h1-caps != false) { text-transform: uppercase; }
	font-size: $h1-size;
	line-height: $h1-height;
}

h2 {
	@if $h2-weight != normal and $h2-weight != 400 {
		font-weight: $h2-weight;
	}
	@if ($h2-type != $body-type) { font-family: $h2-type; }
	@if ($h2-spacing != 0) { letter-spacing: $h2-spacing; }
	@if ($h2-caps != false) { text-transform: uppercase; }
	font-size: $h2-size;
	line-height: $h2-height;
}

h3 {
	@if $h3-weight != normal and $h3-weight != 400 {
		font-weight: $h3-weight;
	}
	@if ($h3-type != $body-type) { font-family: $h3-type; }
	@if ($h3-spacing != 0) { letter-spacing: $h3-spacing; }
	@if ($h3-caps != false) { text-transform: uppercase; }
	font-size: $h3-size;
	line-height: $h3-height;
}

h4 {
	@if $h4-weight != normal and $h4-weight != 400 {
		font-weight: $h4-weight;
	}
	@if ($h4-type != $body-type) { font-family: $h4-type; }
	@if ($h4-spacing != 0) { letter-spacing: $h4-spacing; }
	@if ($h4-caps != false) { text-transform: uppercase; }
	font-size: $h4-size;
	line-height: $h4-height;
}
