
//  =======================  //
//  Variables
//  =======================  //

/*
 * Colors. Names based on their function.
 */

$selection-bg: hotpink;
$selection: white;

/*
 * Responsive grid system.
 */

$is-centered: true;
$max-width: 960px;
$min-width: 320px;
$gutter: 30px;
$side-padding: 60px;

$breakpoint-x: 980px;
$breakpoint-l: 720px;
$breakpoint-m: 540px;
$breakpoint-s: 480px;

/*
* Typography settings.
*/

$baseline: 24px;
$body-type: Helvetica, Arial, sans-serif;
$display-type: Georgia, serif;

/*
* Global typography settings for base styles.
* Baseline needs to be shifted for perfect alignment.
*/

// Level 1 heading
$h1: (
  family: false,
  weight: 700,
  size: 42px,
  height: 48px,
  spacing: 0,
  caps: false,
  shift: 10px
);

// Level 2 heading
$h2: (
  family: false,
  weight: 400,
  size: 36px,
  height: 48px,
  spacing: 0,
  caps: false,
  shift: 0
);

// Level 3 heading
$h3: (
  family: false,
  weight: 600,
  size: 28px,
  height: 36px,
  spacing: 0,
  caps: false,
  shift: 8px
);

// Level 4 heading
$h4: (
  family: false,
  weight: 700,
  size: 16px,
  height: 24px,
  spacing: 1px,
  caps: true,
  shift: 7px
);

// Paragraphs and lists
$p-li: (
  family: false,
  weight: 400,
  size: 16px,
  height: 24px,
  spacing: 0,
  caps: false,
  shift: 7px
);
